<div class="col s12 m12 l6">
    <div class="card">
        <div class="card-image">
            <img class="cardImg materialboxed" src={{this.image}}>
        </div>
        <div class="card-content pt-1">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header nameBar">
                        <h5 id="repoTitle" class="ml-2">{{this.projectName}}
                            <i class="fas fa-angle-down right"></i>
                        </h5>

                    </div>
                    <div class="collapsible-body" id="{{this.id}}">
                        <p>
                            {{this.preview}}
                        </p>
                        <br>
                        <ul>
                            <p class="techFont">
                                <i class="fas fa-cogs"> </i>
                                Technologies Used
                            </p>{{#each this.techs}}

                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                        <div class="card-action">
                            <div class="row btnRow center">
                            <a target="_blank" class="cyan darken-4 waves-effect waves-teal btn mb-2 mt-2 liveBtn" href="{{this.deployed}}">Live Site</a>

                            <a target="_blank" class="cyan darken-4 waves-effect waves-teal btn mt-2 repoBtn" href="{{this.github}}">Git Repo</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>